[Unit]
Description=The Trend Scope PostgreSQL backup

[Service]
Type=oneshot
WorkingDirectory=/opt/the-trend-scope
ExecStart=/opt/the-trend-scope/scripts/prod-backup.sh
