# Sécurité minimale
APP_USERNAME=zakamon
APP_PASSWORD=Azerty1234$
SECRET_KEY=08f0f56770086327107e33189b7e584d

# YouTube
YOUTUBE_API_KEY=AIzaSyBTs5Y2tNY2ZvEB5FJgp_ED2QXb3djvRik

# Supabase
SUPABASE_URL=https://ltxjjnzsphhprykuwwye.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0eGpqbnpzcGhocHJ5a3V3d3llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3ODgyMDYsImV4cCI6MjA4MDM2NDIwNn0.AR4MHCGyhBDpX3BTBIqQh0qap6tOLUHfuP8HMofF3Sk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0eGpqbnpzcGhocHJ5a3V3d3llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDc4ODIwNiwiZXhwIjoyMDgwMzY0MjA2fQ.MTSelIYvHPdV4-6aHua7bHAHBuG6zniNmgLLARePZCs
DATABASE_URL=postgresql://postgres:MTSelIYvHPdV4-6aHua7bHAHBuG6zniNmgLLARePZCs@db.ltxjjnzsphhprykuwwye.supabase.co:5432/postgres

# Régions (FR,US,ES)
REGIONS=FR,US,ES

# Thèmes (modifiable)
THEMES=nourriture,voiture,business,drôle,influenceurs

# Frontend
FRONTEND_ORIGIN=http://localhost:5173
